# Archivos objeto y ejecutables
*.o
*.obj
*.exe
*.out
*.app
*.so
*.dylib
*.dll

# Carpetas de compilación (CMake, Make, etc.)
build/
cmake-build-*/
out/
Debug/
Release/

# Configuraciones de Editores / IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
